<div class="main-container">
  <img alt="Angular Logo"
    src="https://mms.businesswire.com/media/20190108005101/en/699022/23/1000x1000_hor_%281%29.jpg">

  <div class="data-container">
    <mat-form-field class="symbol-autocomplete">
      <mat-label>Choose Symbol</mat-label>
      <input type="text" placeholder="Choose symbol" aria-label="Number" matInput [formControl]="myControl"
        [matAutocomplete]="auto">
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText"
        (optionSelected)="onSymbolSelect($event.option.value)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{option.label}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <table mat-table [dataSource]="dataSourceAsks" fixedLayout="fixed">
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price (BTC) </th>
        <td mat-cell *matCellDef="let element"> {{element.price}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Amount (ETH) </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef> Total </th>
        <td mat-cell *matCellDef="let element"> {{element.total}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
