<div class="main-container">
  <img width="600" alt="Angular Logo"
    src="https://mms.businesswire.com/media/20190108005101/en/699022/23/1000x1000_hor_%281%29.jpg">

  <mat-form-field class="example-full-width">
    <mat-label>Symbol</mat-label>
    <input type="text" placeholder="Choose symbol" aria-label="Number" matInput [formControl]="myControl"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getOptionText">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.label}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price (BTC) </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount (ETH) </th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let element"> {{element.total}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
